<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Clone</title>
    <script src="../static/script.js"></script>
</head>
<body>
    <div id="centered-container">
        <h1>Wordle Clone</h1>
        <p>Hello, my name is Argel and this is a clone of the popular game Wordle. I used flask for the backend for it. Have fun!</p>
        <p style="text-align: center;">Enter your guess below!</p>
        <div id="input-container">
            <input type="text" id="userGuess" name="userGuess">
        </div>
    </div>

</body>
<footer>
    <p>To see the code for this project, or any of my other projects, visit my <a href="https://github.com/argel6767">GitHub</a>.</p>
</footer>
</html>